In [12]:
import numpy as np
import pandas as pd

In [7]:
dado1 = np.load('dados/a.npz')
dado2 = np.load('dados/ab.npz')
dado3 = np.load('dados/ac.npz')
dado4 = np.load('dados/abc.npz')
dado5 = np.load('dados/ho_mlp.npz')
dado6 = np.load('dados/ho_svm.npz')
dado7 = np.load('dados/ho_cnn.npz')

In [8]:
dado7.files

['train_loss_list',
 'train_acc_list',
 'test_loss_list',
 'test_acc_list',
 'metrics_list',
 'train_list',
 'test_list']

In [9]:
x1 = dado1['test_acc_list']
x2 = dado2['test_acc_list']
x3 = dado3['test_acc_list']
x4 = dado4['test_acc_list']
x5 = dado5['test_acc_list']
x6 = dado6['test_acc_list']
x7 = dado7['test_acc_list']

In [28]:
dados = {'A': x1,
         'B': x2,
         'C': x3,
         'D': x4,
         'E': x5,
         'F': x6,
         'G': x7}

In [29]:
df = pd.DataFrame(dados)
df.head()

          A         B         C         D         E         F         G
0  0.919192  0.939394  0.921717  0.946970  0.911616  0.911616  0.939394
1  0.957071  0.941919  0.929293  0.936869  0.931818  0.929293  0.941919
2  0.929293  0.946970  0.916667  0.954545  0.936869  0.934343  0.946970
3  0.939394  0.957071  0.929293  0.936869  0.929293  0.936869  0.957071
4  0.959596  0.946970  0.929293  0.954545  0.921717  0.944444  0.946970

In [30]:
df['A']

0     0.919192
1     0.957071
2     0.929293
3     0.939394
4     0.959596
        ...
95    0.931818
96    0.946970
97    0.931818
98    0.919192
99    0.931818
Name: A, Length: 100, dtype: float64

In [32]:
#df.to_csv("dados/dados.csv", index=False)